@accent:	#800080;
@dark:		#383838;
@medium:	#bbb;
@light:		#fff;

@ribbon-size:	80px;

body {
	background-color:	@light;
	color:		@dark;
}

top-ribbon {
	display:	block;
	color:		@light;
	background-color:	@accent;
	padding:	20px;
	padding-bottom:		0px;
}

header {
	font-size:	32pt;
	margin-bottom:	20px;
}

nav-option {
	padding:	5px;
	text-align:			center;
	background-color:	@dark;
	cursor:		pointer;
}

nav-option:hover {
	background-color:	@light;
	color:		@accent;
}

main-container {
	display:	block;

}

footer {
	background-color:	@medium;
	color:		@light;
	text-align:	center;
}
