{% load static %}

{% block extrahead %}
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="icon" href="{% static 'corpapp/logo.svg' %}" />

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

	<script src="{% static 'corpapp/jquery-3.4.1.js' %}"></script>
	<script src="{% static 'corpapp/bootstrap.bundle.min.js' %}"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="{% static 'corpapp/bootstrap.min.css' %}" />

	<link rel="stylesheet/less" href="{% static 'corpapp/style.less' %}" />
	<script src="{% static 'corpapp/less.min.js' %}" ></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
	<script src="https://unpkg.com/frappe-charts@1.1.0"></script>
	<script src="{% static 'corpapp/timeseries.js' %}"></script>

	<script>
		$(document).ready(function() {
			$('.datatable').DataTable();
			{% if active_index %}
				console.log({{active_index}});
				$('.nav-option:eq({{active_index}})').addClass("active");
			{% endif %}
		} );
	</script>

	{% block bonushead %}{% endblock %}
{% endblock %}

<top-ribbon class="container-fluid">
	<header class="row col">
		{% block header %}{% endblock %}
	</header>
	<navbar class="row" id="nav-bar">
		<a href="/" id="nav-option" class="nav-option col-sm">Home</a>
		<a href="/countries" id="nav-option" class="nav-option col-sm">Countries</a>
		<a href="/states" id="nav-option" class="nav-option col-sm">States</a>
		<!--<a href="/cities" id="nav-option" class="nav-option col-sm">Cities</a>-->
		<a href="/measures" id="nav-option" class="nav-option col-sm">Measures</a>
		<a href="/universities" id="nav-option" class="nav-option col-sm">Universities</a>
		<a href="/corporations" id="nav-option" class="nav-option col-sm">Corporations</a>
	</navbar>
</top-ribbon>

<main-container class="container">

	<div class="row"><div class="col">
		{% block content %}{% endblock %}
	</div></div>

</main-container>

<footer class="container-fluid">
		Made at <a href="https://www.codevscovid19.org/">CodeVsCOVID19</a> | Powered by <a href="https://www.djangoproject.com/">Django</a> and <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0">Friendship</a> | Visit our <a href="https://github.com/stefanmijic/COrp-VID19">GitHub</a>
</footer>
