{% extends "corpapp/base.html" %}
{% load humanize %}


{% block title %}COrpVID19 | Corporations{% endblock %}

{% block header %}Corporation responses{% endblock %}


{% block content %}

{% if corplist %}
<table class="datatable table">
	<thead><tr>
		<th>Name</th>
		<th>State</th>
		<th>City</th>
		<th>Employees</th>
		<th>Revenue</th>
	</tr></thead>
	{% for c in corplist %}
	<tr>
		<td><a href="/corp/{{ c.id }}">{{ c.name }}</a></td>
		<td><a>{{ c.state }}</a></td>
		<td><a>{{ c.city }}</a></td>
		<td>{{ c.n_employees|intcomma }}</td>
		<td>{{ c.stock_price|floatformat:2|intcomma }} bn.</td>
	</tr>
	{% endfor %}
</table>
{% else %}
Sorry, no Corporations found...
{% endif %}

{% endblock content %}
