{% extends "corpapp/base.html" %}
{% load humanize %}


{% block title %}COrpVID19 | {{ country.name }}{% endblock %}

{% block header %}{{ country.name }}{% endblock %}

{% block bonushead %}
<script>
	$(document).ready(function() {
		renderChart("{{ country.name }}");
	});
</script>
{% endblock bonushead %}


{% block content %}
<h1>Confirmed COVID19 cases in {{ country.name }}</h1>
<div id="chart"></div>

<h1>States in {{ country.name }}:</h1>
{% if states %}
<table class="datatable">
	<thead><tr>
		<th>Name</th>
		<th>People</th>
	</tr></thead>
	{% for s in states %}
	<tr>
		<td>{{ s.name }}</td>
		<td>{{ s.people|intcomma }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
Sorry, no States found...
{% endif %}

<h1>Universities in {{ country.name }}:</h1>
{% if unis %}
<table class="datatable table">
	<thead><tr>
		<th>Name</th>
		<th>State</th>
		<th>Students</th>
		<th>Staff</th>
		<th>Budget</th>
	</tr></thead>
	{% for u in unis %}
	<tr>
		<td><a href="university/{{ u.id }}">{{ u.name }}</a></td>
		<td><a>{{ u.state }}</a></td>
		<td>{{ u.n_students|intcomma }}</td>
		<td>{{ u.n_staff|add:u.n_profs|intcomma }}</td>
		<td>{{ u.budget|intcomma }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
Sorry, no Unis found...
{% endif %}

{% endblock content %}
