{% extends "corpapp/base.html" %}


{% block title %}COrpVID19 | Home{% endblock %}

{% block header %}Corporate COVID-19 Response Visualization{% endblock %}


{% block content %}

<p>Hi there. Are you curious about some data about COVID-19? Same. We gathered
some links and some data from around the web, concerning the reactions of
countries, states, universities, and companies in Switzerland, Germany,
and Switzerland. Have a look around, maybe you find something helpful.
Just remember to always double-check your sources, keep calm, and make
informed choices.</p>

<p>This project was created during the <a href="https://www.codevscovid19.org/">
CodeVsCOVID19</a> event. The dataset was gathered manually by searching
the web and filling out json tables. The backend was realized in Python using
the flexible and powerful <a href="https://www.djangoproject.com/">Django</a>
framework. The frontend design was made using <a
href="https://getbootstrap.com/">Bootstrap</a>, <a href="http://lesscss.org/">
Less</a>, <a href="https://datatables.net/">Datatables</a>, and
<a href="https://frappe.io/charts">Frappe Charts</a>.</p>

{% endblock content %}
