{% extends "corpapp/base.html" %}
{% load humanize %}


{% block title %}COrpVID19 | Measures{% endblock %}

{% block header %}Response measures{% endblock %}


{% block content %}

{% if mlist %}
<table class="datatable table">
	<thead><tr>
		<th>Name</th>
		<th>Uni adoption</th>
		<th>Corp adoption</th>
	</tr></thead>
	{% for m, uni_imp, corp_imp in mlist %}
	<tr>
		<td><a href="measure/{{ m.id }}">{{ m.name }}</a></td>
		<td>{{ uni_imp|floatformat:2 }}</td>
		<td>{{ corp_imp|floatformat:2 }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
Sorry, no measures found...
{% endif %}

{% endblock content %}
