{% extends "corpapp/base.html" %}
{% load humanize %}


{% block title %}COrpVID19 | {{ measure.name }}{% endblock %}

{% block header %}{{ measure.name }}{% endblock %}


{% block content %}

<h1>{{ measure.name }}</h1>

<h3>Adopted by {{ uni_adoption_percent|floatformat:2 }}% of universities.</h3>

<div class="container">
	<div class="row col dark">Implemented by Universities:</div>
	{% if unis %}
		{% for i in unis %}
		<div class="row">
			<div class="col"><a href="/university/{{ i.entity_id.id }}">{{ i.entity_id.name }}</a></div>
			<div class="col">{{ i.date }}</div>
		</div>
		{% endfor %}
	{% else %}
		<div class="row col">No unis found</div>
	{% endif %}
</div>

<h3>Adopted by {{ corp_adoption_percent|floatformat:2 }}% of corporations.</h3>

<div class="container">
	<div class="row col dark">Implemented by Corporations:</div>
	{% if corps %}
		{% for i, date in corps %}
		<div class="row">
			<div class="col"><a href="/corp/{{ i.id }}">{{ i.name }}</a></div>
			<div class="col">{{ date }}</div>
		</div>
		{% endfor %}
	{% else %}
		<div class="row col">No corporations found</div>
	{% endif %}
</div>


{% endblock content %}
